---
title: USDT tether transfers
---

.starter-template
  %h1 USDT movements after creation
  %p.lead
    All transactions with at least 100k tether after time 1509742213
    (creation of 25 MUSDT on Nov. 3rd, 2017) until Nov. 10th.

    Wallet names attributed according to the
    %a{href: "https://wallet.tether.to/richlist"} Tether rich list.
    %br/
  .col-md-12
    %div#chart
