---
title: Welcome to Middleman-Haml-Bootstrap-Sass
---

.starter-template
  %h1 USDT Tether movements after creation
  %p.lead
    All transactions with at least 10k tether after time 1509742213
    (creation of 25 MUSDT on Nov. 3rd, 2017) until Nov. 9th.
    %br/
  .col-md-12
    %div#chart
